awswrangler==3.14.0
pyarrow==17.0.0
snowflake-connector-python==3.0.1
jsonpath-rw==1.4.0
jsonpath-ng==1.7.0
pytest==8.4.1
build==1.3.0
black>=25.9.0
sqlparse==0.5.3
google-cloud-storage==3.5.0
google-api-python-client==2.187.0
google-cloud-bigquery==3.30.0
python-dotenv==1.2.1
werkzeug==3.1.3
requests==2.32.3
urllib3==1.25.10
chardet==5.2.0
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0 
tzdata==2024.1